*{
    outline: none;
    padding: 0;
    margin: 0;
}
body{
    background: #f5f6f7;
    overflow-x: hidden;
    font-size: 16px;
}
a{
    outline: none;
    text-decoration: none;
    color: #2c3e50;
    cursor: pointer;
    display: block;
}
li{
    list-style-type: none;
}
ul{
    padding-left: 0px;
}
img{
    width: 100%;
    height: 100%;
}
.main{
    width: 1010px;
    display: block;
    float: left;
    margin-bottom: 40px;
    margin-left: 20px;
}
button {
    cursor: pointer;
}